#container1 {
    background-color: #8a2be2;
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #e2b12b;
    width: 100px;
    height: 100px;
}

.ml-auto{
    margin: 0 0 0 auto;
}